apiVersion: v1
kind: Secret
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
stringData:
  database-name: MYSQL_DATABASE
  database-password: MYSQL_PASSWORD
  database-root-password: MYSQL_ROOT_PASSWORD
  database-user: MYSQL_USER
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    template.openshift.io/expose-uri: mysql://{.spec.clusterIP}:{.spec.ports[?(.name=="mysql")].port}
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  ports:
  - name: {{ app_name }}
    port: 3306
  selector:
    name: {{ app_name }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  accessModes:
  - {{ accessmode }}
{% if storage_class is defined and storage_class != "default" %}
  storageClassName: {{ storage_class | quote }}
{% endif %}
  resources:
    requests:
      storage: {{ storage_size }}
---
apiVersion: v1
kind: DeploymentConfig
metadata:
  annotations:
    template.alpha.openshift.io/wait-for-ready: 'true'
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
spec:
  replicas: 1
  selector:
    name: {{ app_name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: {{ app_name }}
        app: {{ app_name }}
    spec:
      containers:
      - env:
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              key: database-user
              name: {{ app_name }}
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              key: database-password
              name: {{ app_name }}
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              key: database-root-password
              name: {{ app_name }}
        - name: MYSQL_DATABASE
          valueFrom:
            secretKeyRef:
              key: database-name
              name: {{ app_name }}
        image: " "
        imagePullPolicy: IfNotPresent
        name: {{ app_name }}
        ports:
        - containerPort: 3306
        resources:
          limits:
            memory: 512Mi
        volumeMounts:
        - mountPath: "/var/lib/mysql/data"
          name: {{ app_name }}-data
      volumes:
      - name: {{ app_name }}-data
        persistentVolumeClaim:
          claimName: {{ app_name }}
  triggers:
  - imageChangeParams:
      automatic: true
      containerNames:
      - {{ app_name }}
      from:
        kind: ImageStreamTag
        name: mysql:5.7
        namespace: openshift
    type: ImageChange
  - type: ConfigChange
